# Power BI binary files
*.pbit

# Python
__pycache__/
*.pyc
.venv/
.env

# Secrets
secrets.yml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs/temp
*.log
tmp/
temp/

# Power BI project files
*.pbip

# Power BI folders
*.Report/
*.SemanticModel/